* {
    box-sizing: border-box;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

h1, p {
    color: #777;
    background: #ebebeb;
    padding: 20px;
    text-align: center;
    margin: 0px 20px 10px 20px;
}

p:last-child {
    margin-bottom: 20px;
}

.content-bg {
    background: #ebebeb;
    margin: 10px 0px 10px 0px;
}

.heading-format {
    padding: 30px;
    text-align: center;
}

#navbar {
    margin-top: 10px;
}

#main-body {
    overflow: hidden;
}

#main-body::after{
    content: "";
    display: block;
    clear: both;
}

#section-left {
    float: left;
    width: 55%;
    border-right: 10px solid #777;
}

#section-article {
    background-color: #777;
    color: #ebebeb;
    margin: 10px;
    overflow: auto;
}

#article-header {
    text-align: center;
    padding: 15px;
}

#aside-right {
    width: 45%;
    float: right;
    border-left: 10px solid #777;
    height: 297px; /* this is a hack :( */
}

#aside-header {
    padding: 30px;
}